[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
pandas = "*"
tqdm = "*"
modin = {extras = ["dask"],version = "*"}
py = "*"
timeme = "*"
cython = "*"
numba = "*"
attrs = "*"
perfplot = "*"
scikit-cuda = "*"
setuptools = "*"
pycuda = "*"
conda = "*"

[requires]
python_version = "3.8"
